---
import Layout from "../../layouts/Base.astro";
import ArticleList from "../../components/ArticleList.astro";
import { getCollection } from "astro:content";

const authors = await getCollection("authors");
const posts = (await getCollection("articles")).sort(
  (a, b) => b.data.pubDate.valueOf() - a.data.pubDate.valueOf()
);
---

<Layout>
  <section>
    <h2 class="heading-2">Articles</h2>
    <ArticleList articles={posts} authors={authors} />
  </section>
</Layout>
