---
import type { CollectionEntry } from "astro:content";

type Props = {
  tags: CollectionEntry<"tags">[] | undefined;
};

const { tags } = Astro.props;
---

{
  tags && (
    <div class=" flex-row gap-2 my-8">
      {tags.map((tag) => (
        <a
          href={`/tags/${tag.id}`}
          class="border border-l-2 border-l-gray-200 hover:border-l-primary rounded-r px-3 py-1 text-sm"
        >
          #{tag.data.name}
        </a>
      ))}
    </div>
  )
}
