---
import Layout from "../../layouts/Base.astro";
import { getCollection } from "astro:content";
import GlossaryList from "../../components/GlossaryList.astro";

const authors = await getCollection("authors");
const glossaryEntries = (await getCollection("glossary")).sort(
  (a, b) => b.data.pubDate.valueOf() - a.data.pubDate.valueOf()
);
---

<Layout>
  <section>
    <h2 class="heading-2">Glossary</h2>
    <p>
      This is a glossary of terms commonly used in web development. I've tried
      to explain things in a way that should be easy to understand also for
      beginners.
    </p>
    <div class="mt-8">
      <GlossaryList glossaryEntries={glossaryEntries} authors={authors} />
    </div>
  </section>
</Layout>
